
@{
    ViewData["Title"] = "_Footer";
}

<footer class="w-full bg-white mt-5 border-t border-t-[#A3B3BC]">
    <div class="container flex justify-between py-6 gap-12">
        <div class="w-3/5 text-[#A3B3BC]">
            @* Về ItourGo *@
            <div class='flex gap-12'>
                <div>
                    <p class="uppercase text-black">Về ItourGo</p>
                    <div class='flex flex-col gap-2 text-sm mt-2'>
                        <a href="/about?tab=1">Chúng tôi</a>
                        <a href="/">ItourGo Blog</a>
                        <a href="/">Tư vấn miễn phí</a>
                    </div>
                </div>
                <div>
                    <p class="uppercase text-black">Thông Tin Cần Biết</p>
                    <div class='flex flex-col gap-2 text-sm mt-2'>
                        <a href="/about?tab=4">Điều kiện và điều khoản</a>
                        <a href="/aboutgit?tab=3">Chính sách bảo mật</a>
                        <a href="/about?tab=2">Câu hỏi thường gặp</a>
                    </div>
                </div>
                <div>
                    <p class="uppercase text-black">Đối tượng liên kết</p>
                    <div class='flex flex-col gap-2 text-sm mt-2'>
                        <a href="/">Vietnam Airlines</a>
                        <a href="/">VNExpress</a>
                    </div>
                </div>
                <div>
                    <p class="uppercase text-black">Được chứng nhận</p>
                    <div class='flex flex-col gap-2 text-sm mt-2'>
                        <a href="/"><img class='w-full' src="https://www.ivivu.com/du-lich/content/img/bocongthuong.png" alt="" /></a>
                    </div>
                </div>
            </div>
            @* Thương hiệu *@
            <div class='flex gap-12 items-center mt-6'>
                <div class='flex items-center gap-2'>
                    <div class='h-[48px]'>
                        <img class="w-full" src="https://www.ivivu.com/du-lich/content/img/ico-wta-winner-shield-2021.png" alt="" />
                    </div>
                    <p class='flex-1'>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</p>
                </div>
                <div class='flex items-center gap-2'>
                    <div class='h-[48px]'>
                        <img class="w-full" src="https://www.ivivu.com/du-lich/content/img/ico-hra.png" alt="" />
                    </div>
                    <p class='flex-1'>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</p>

                </div>
                <div class='flex items-center gap-2'>
                    <div class='h-[48px]'>
                        <img class="w-full" src="https://www.ivivu.com/du-lich/content/img/ico-apea.png" alt="" />
                    </div>
                    <p class='flex-1'>Đại lý Du lịch Trực tuyến Hàng đầu Việt Nam</p>
                </div>
            </div>
            <p class="mt-6">Địa chỉ: Phòng 2414, Tòa C Vinaconex2, Kim Lũ, Kim Văn, Hoàng Mai, Hà Nội</p>
        </div>
        <div class="flex-1">
            <div>
                <p class="text-bold text-xl">Bạn cần trợ giúp? Bấm gọi ngay</p>
                <div class='flex gap-8'>
                    <p class="text-2xl text-orange-500 font-medium">1900 1234</p>
                    <span class="text-xs flex items-center">
                        <GoClock />
                        7h30
                        <BsArrowRight />
                        21h30
                    </span>
                </div>
                <p class='mt-6'>Tư vấn với PNG SOFT - Qua Messenger</p>
                <div class="flex items-center h-full mt-6">
                    <a href="http://" class="px-4 h-3/5 flex items-center"><BsFacebook fontSize={18} /></a>
                    <a href="http://" class="px-4 h-3/5 flex items-center"><BsTwitter fontSize={18} /></a>
                    <a href="http://" class="px-4 h-3/5 flex items-center"><BsInstagram fontSize={18} /></a>
                    <a href="http://" class="px-4 h-3/5 flex items-center"><Bsaedin fontSize={18} /></a>
                </div>
            </div>

        </div>

    </div>

</footer>

