
@{
    ViewData["Title"] = "_Header";
}
<div class="w-full flex text-[14px] h-[40px] bg-[color:var(--primary-color)] text-white">
    <div class="container">
        <div class="h-full flex items-center justify-between font-medium">
            <div class="flex items-center gap-5">
                <a href="/" class="flex items-center gap-1"><BsCalendarWeek />Thứ 7, ngày 2 tháng 9</a>
                <a href="/" class="flex items-center gap-1"><MdLocationOn />Hà Nội, Việt Nam</a>
                <a href="/" class="flex items-center gap-1"><GoClock />Thứ 2 - Thứ 7: 8H - 17H</a>
            </div>

            <div class="flex items-center h-full">
                <a href="http://" class="px-4 border-r border-[#35B0AF] last:border-r-0 h-3/5 flex items-center"><BsFacebook fontSize={18} /></a>
                <a href="http://" class="px-4 border-r border-[#35B0AF] last:border-r-0 h-3/5 flex items-center"><BsTwitter fontSize={18} /></a>
                <a href="http://" class="px-4 border-r border-[#35B0AF] last:border-r-0 h-3/5 flex items-center"><BsInstagram fontSize={18} /></a>
                <a href="http://" class="px-4 border-r border-[#35B0AF] last:border-r-0 h-3/5 flex items-center"><Bsaedin fontSize={18} /></a>
            </div>
        </div>
    </div>

</div>

