@{

    var langID = APP_B2B_PUB.Controllers.HomeController.GetLangID(Request.QueryString["lang"]);


    @functions {
        public static string GetUrl(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetUrl(strTxt);
        }
        public static string GetFormatDateTime(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetFormatDateTime(strTxt);
        }
    }


    var strTitle = "Thông tin Booking";

    string storageItem = Request.QueryString["lang"];

    //HttpCookieCollection cook = Request.Cookies;
    //var value = Request.Cookies["lang"].Value;

    ViewBag.Lang = Request.QueryString["lang"];
    ViewBag.Title = strTitle;
    ViewBag.Keywords = "B2B Du lịch, kết nối đại lý, đại lý bán, đại lý mua, khách du lịch";
    ViewBag.Description = "Một nền tảng giúp các công ty và các nhà cung cấp dịch vụ du lịch kết nối đến các đại lý của họ.Hệ thống giúp mở rộng kênh bán hàng, tăng doanh số, giảm chi phí.    Tạo mối liên kết mở rộng B2B giữa các doanh nghiệp, giúp các công ty phát triển bền vững";
}


<div className="entidyPaymentDetail">
    <div className="flex flex-col items-center justify-center mt-[40px]">
        <div className="w-4/5">
            <div className="bg-white flex items-center justify-between rounded-sm p-4 drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] rounded-lg">
                <div>
                    <h3 className="mb-3 text-[color:var(--primary-color)] text-xl font-bold">Liên lạc chính</h3>
                    <div className='flex gap-4 items-center'>
                        <p className='capitalize w-40 font-bold'>Tên công ty</p>
                        <span>: Công ty nối vòng tay lớn</span>
                    </div>
                    <div className='flex gap-4 items-center'>
                        <p className='capitalize w-40 font-bold'>Email</p>
                        <span>: nguyentheduongyb@gmail.com</span>
                    </div>
                </div>
                <p className='flex gap-2 justify-end'>
                    <span className='font-bold'>Đếm ngược:</span>
                    <span>180 s</span>
                </p>
            </div>
            <div className="mt-6 p-8 pb-0 mb-4 bg-white rounded drop-shadow-[0_0_10px_rgba(0,0,0,0.25)] rounded-lg">
                <div>
                    <div className="flex items-center mb-4">
                        <p className="flex-1">Sản phẩm</p>
                        <p className="w-24 text-center">Số lượng</p>
                        <p className="w-40 text-center">Thành tiền</p>
                    </div>
                    <div className="flex gap-4 mb-4 items-center">
                        <p className="text-[color:var(--primary-color)] text-xl font-medium">PNGSOFT</p>
                        <span>|</span>
                        <button>Chat ngay</button>
                    </div>
                    <div className="flex mb-4 gap-4">
                        <div className="flex gap-2 items-center">
                            <div className="bg-no-repeat bg-center bg-cover w-24 h-24 rounded" style={{ backgroundImage: 'url("https://cdn2.ivivu.com/2023/04/12/14/ivivu-dali.gif")' }}></div>
                            <div className="flex-1">
                                <p className="text-lg">Tour Trung Quốc 6N5Đ : Hà Nội - Hà Khẩu - Đại Lý - Lệ Giang - Shangrila</p>
                                <p className="text-[#ccc] text-sm">Loại: Tour</p>
                            </div>
                        </div>
                        <div className="h-24 flex flex-col justify-between">
                            <div className="flex gap-3">
                                <div className="w-24">Người lớn</div>
                                <div className="flex">
                                    <p className="w-24 text-center ">{adult}</p>
                                    <p className="w-40 text-center font-semibold">2.000.000đ</p>
                                </div>

                            </div>
                            <div className="flex gap-3">
                                <div className="w-24">Trẻ em</div>
                                <div className="flex">
                                    <p className="w-24 text-center ">{child}</p>
                                    <p className="w-40 text-center font-semibold">1.000.000đ</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div className="border-y flex justify-end gap-60 py-4 text-sm">
                    <div className="flex gap-3">
                        <input className="mt-3" type="checkbox" checked />
                        <div className="w-24">Phụ thu phòng đơn</div>
                        <div className="flex">
                            <p className="w-40 text-center font-semibold">0</p>
                        </div>

                    </div>

                </div>
                <div className="border-y flex justify-end gap-60 py-4 text-sm">
                    <div className="flex gap-3">
                        <div className="w-24">Giảm giá</div>
                        <div className="flex">

                            <p className="w-40 text-center font-semibold">100.000</p>
                        </div>

                    </div>

                </div>
                <p className="py-3 text-end border-b ">Tổng số tiền:  <span className="font-medium text-2xl text-orange-500 ml-1">1.900.000</span></p>

                <div className="flex py-3 justify-between">
                    <div className="flex items-center w-4/12 gap-4 pr-8 border-r">
                        <Label>Lời nhắn:</Label>
                        <TextInput className="flex-1" placeholder="Lưu ý cho người bán"></TextInput>
                    </div>
                    <button className="py-2 px-4 bg-[color:var(--primary-color)] text-white font-bold rounded-xl">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>