@{

    var langID = APP_B2B_PUB.Controllers.HomeController.GetLangID(Request.QueryString["lang"]);


    @functions {
        public static string GetUrl(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetUrl(strTxt);
        }
        public static string GetFormatDateTime(string strTxt)
        {
            return APP_B2B_PUB.Controllers.HomeController.GetFormatDateTime(strTxt);
        }
    }


    var strTitle = "Giỏ hàng";

    string storageItem = Request.QueryString["lang"];

    //HttpCookieCollection cook = Request.Cookies;
    //var value = Request.Cookies["lang"].Value;

    ViewBag.Lang = Request.QueryString["lang"];
    ViewBag.Title = strTitle;
    ViewBag.Keywords = "B2B Du lịch, kết nối đại lý, đại lý bán, đại lý mua, khách du lịch";
    ViewBag.Description = "Một nền tảng giúp các công ty và các nhà cung cấp dịch vụ du lịch kết nối đến các đại lý của họ.Hệ thống giúp mở rộng kênh bán hàng, tăng doanh số, giảm chi phí.    Tạo mối liên kết mở rộng B2B giữa các doanh nghiệp, giúp các công ty phát triển bền vững";
}
<div class="container py-5">
    <div class="flex gap-5">
        <div class="w-[180px] py-5">
            <div class="flex gap-3 overflow-hidden h-[80px] border-b">
                <div class="overflow-hidden">
                    <p class="overflow-hidden" title="nguyentheduongyb">nguyentheduongyb</p>
                    <button class="flex items-center gap-2">
                        <CiEdit />
                        <span>Sửa hồ sơ</span>
                    </button>
                </div>
            </div>
            <div class="mt-8">
                <div>
                    <div onClick={handleTab} id="1" class="flex gap-4 items-center mb-2 cursor-pointer hover:text-[var(--text-primary)]">
                        <div class="flex items-center gap-4">

                            <BiUser />
                            <span>Tài khoản của tôi</span>
                        </div>
                    </div>
                    <ul class="pl-12 text-[8px]">
                        <li onClick={handleTab} id="1" class="mb-2 font-bold cursor-pointer hover:text-[var(--text-primary)]"><a href="/account?tab=1">Hồ Sơ</a></li>
                        <li onClick={handleTab} id="2" class="mb-2 font-bold cursor-pointer hover:text-[var(--text-primary)]"><a href="/account?tab=2">Phương thức thanh toán</a></li>
                        <li onClick={handleTab} id="3" class="mb-2 font-bold cursor-pointer hover:text-[var(--text-primary)]"><a href="/account?tab=3">Địa chỉ</a></li>
                        <li onClick={handleTab} id="4" class="mb-2 font-bold cursor-pointer hover:text-[var(--text-primary)]"><a href="/account?tab=4">Đổi mật khẩu</a></li>
                    </ul>
                </div>
                <div onClick={handleTab} id="order" class="flex gap-4 items-center mb-2 cursor-pointer hover:text-[var(--text-primary)]">
                    <a class="flex items-center gap-4" href="/account?tab=order">
                    <BiUser />
                    <span>Đơn mua</span>
                    </a>

                </div>
                <div onClick={handleTab} id="6" class="flex gap-4 items-center mb-2 cursor-pointer hover:text-[var(--text-primary)]">
                    <a class="flex items-center gap-4" href="/account?notification">
                    <BiUser />
                    <span>Thông báo</span>
                    </a>

                </div>
                <div onClick={handleTab} id="7" class="flex gap-4 items-center mb-2 cursor-pointer hover:text-[var(--text-primary)]">
                    <a class="flex items-center gap-4" href="/account/profile">
                    <BiUser />
                    <span>Vourcher</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full">
            <ul class="mb-5 grid grid-cols-5 flex w-full justify-between bg-gradient-to-r from-slate-50 to-cyan-50 text-black rounded">
                <li onClick={handleChangeTab} id="1" class="text-[var(--text-primary)] border-b border-[var(--text-primary)] border-b-[3px] cursor-pointer hover:text-[var(--text-primary)] text-center py-3 w-[calc(100% /5)]">
                    Tất cả
                </li>
                <li onClick={handleChangeTab} id="2" class="cursor-pointer hover:text-[var(--text-primary)] text-center py-3 w-[calc(100% /5)]">
                    Chờ thanh toán
                </li>
                <li onClick={handleChangeTab} id="5" class="cursor-pointer hover:text-[var(--text-primary)] text-center py-3 w-[calc(100% /5)]">
                    Đã thanh toán
                </li>
                <li onClick={handleChangeTab} id="6" class="cursor-pointer hover:text-[var(--text-primary)] text-center py-3 w-[calc(100% /5)]">
                    Đã hủy
                </li>
                <li onClick={handleChangeTab} id="7" class="cursor-pointer hover:text-[var(--text-primary)] text-center py-3 w-[calc(100% /5)]">
                    Trả hàng/Hoàn tiền
                </li>
            </ul>
            <div class="mb-3 rounded">
                <div class="p-5 bg-white text-black border-b">
                    <div class="flex justify-between border-b pb-3">
                        <div class="flex gap-2"><span>Love Studio</span><button class="border text-xs rounded px-2 py-1 flex items-center gap-2"><BsShop />Xem Shop</button></div>
                        <div class="flex gap-2 items-center"><span>Đơn hàng đã được giao thành công</span><BsQuestionCircle /><span>|</span><span>Hoàn thành</span></div>
                    </div>
                    <div class="py-3 flex gap-4">
                        <div class="border w-[100px] h-[100px] bg-no-repeat bg-center bg-cover rounded-xl" style="width:100px;height:100px;background-image: url('https://htmldesigntemplates.com/html/travelin/images/destination/destination17.jpg')"></div>
                        <div class="flex-1 flex gap-18 justify-between items-center">
                            <div>
                                <span>Four Islands Excursion in South Phu Quoc - Day Tour</span>
                                <p class="my-3">Phân loại hàng: Tour</p>
                                <div>x1</div>
                                <a href="/" class="border border-[var(--text-primary)] text-sm py-1 px-2">Đếm ngược 7 ngày khởi hành</a>
                            </div>
                            <button class="px-4 py-2 rounded bg-green-600 text-xs text-white">Chờ thanh toán</button>
                            <span>99.000đ</span>
                        </div>
                    </div>
                </div>
                <div class="p-5 bg-white text-black">
                    <div class="flex justify-end pb-3">
                        <div class="flex gap-2"><h2>Thành tiền:</h2><span class="text-sm text-[var(--text-primary)]">đ</span><span class="text-[var(--text-primary)] font-bold text-xl">97.000đ</span></div>
                    </div>
                    <div class="flex justify-between">
                        <div>
                            <span>Đánh giá sản phẩm trước<u class="text-[var(--text-primary)] mx-2 cursor-pointer">04-07-2023</u></span>
                            <span>Đánh giá ngay và nhận 200 Xu</span>
                        </div>
                        <div class="flex gap-4">
                            <a href="/">
                            <button class="h-[38px] px-6 rounded-[4px] text-white bg-[var(--text-primary)]">Đánh giá</button>
                            </a>
                            <a href="/">
                            <button class="h-[38px] px-6 rounded-[4px] border">Liên hệ người bán</button>
                            </a>
                            <a href="/">
                            <button class="h-[38px] px-6 rounded-[4px] border">Mua lại</button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>